coverage
coverage.data
rdoc
.yardoc
.bundle
pkg
.DS_Store
*.tmproj
tmtags
*~
\#*
.\#*
.*.swp
.*.swo
.redcar
*.rbc
/tmp
.rvmrc
rerun.txt
**.orig
Thumbs.db
doc-pak
description-pak
.rspec

# Only because this is a gem!
Gemfile.lock
